main {
  min-height: 80vh;
}

h1 {
  font-size: 2.5rem;
  padding: 0.25rem 0;
}

h2 {
  font-size: 1.5rem;
  padding: 0.125rem 0;
}

td {
  display: table-cell;
  vertical-align: middle !important;
}
