main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 56px);
  width: 100vw;
}

footer {
  margin-top: auto;
}

h1 {
  font-size: 2.5rem;
  padding: 0.25rem 0;
}

h2 {
  font-size: 1.5rem;
  padding: 0.125rem 0;
}

td {
  display: table-cell;
  vertical-align: middle !important;
}
